numpy
pandas
nltk
spacy
pysrt
textstat
scikit-learn
catboost
tensorflow
tensorflow_hub
tensorflow_text
torch
gensim
streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
